.notification {
    left: 25px;
    top: 0;
    border-radius: 50% !important;
}

nav a {
    color: white !important;
}

.btn {
    border-radius: 4px !important;
}

input:focus {
    box-shadow: none !important;
}

.price {
    font-size: 24px;
    color: rgb(78, 160, 255);
}

.card {
    border: none !important;
}